* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #111;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.calendar-container {
  background-color: #111;
  max-width: 420px;
  margin: 20px auto;
  padding: 10px;
}

.header {
  text-align: center;
  margin-bottom: 15px;
}

h1 {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
}

p {
  margin: 4px 0;
  color: #aaa;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 10px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.day-name {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  font-size: 0.8em;
  font-weight: bold;
}
.day-name.ahad {
  color: #EC5C5B;
}
.day-name.jumat {
  color: #278B6F;
}

.day {
  background: #333;
  color: #fff;
  min-height: 60px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  text-align: center;
}

.day.empty {
  justify-content: center;
  color: #5A5A5A;
}
.day.ahad {
  color: #583231;
}
.day.jumat {
  color: #30584D;
}
.date {
  font-size: 1.1em;
  font-weight: bold;
}
.date.ahad {
  color: #EC5C5B;
}
.date.jumat {
  color: #278B6F;
}
.hijri {
  font-size: 0.9em;
  color: #f1c40f;
}
.hijri.ahad {
  color: #EC5C5B;
}
.hijri.jumat {
  color: #278B6F;
}

.pasaran {
  font-size: 0.7em;
  margin-top: 3px;
  border-radius: 3px;
  padding: 2px 4px;
  display: inline-block;
  color: #111;
}

.pon ,
.wage ,
.kliwon ,
.legi ,
.pahing { color: #ddd; }
